.yui3-datatable-rows-highlighted {
	background-color: yellow !important;
}

.yui3-datatable-cols-highlighted {
	background-color: yellow !important;
}

.yui3-datatable-cells-highlighted {
	background-color: yellow !important;
}
